*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
.fabicon{
    border-radius: 50% ;
}

body{
    font-family: 'Open Sans', sans-serif;
}



.titulo{
    Font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
    -webkit-text-stroke: 0.5px #ffffff;
    color: black;
    font-size: 25px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #ffffff,
                  3px 2px 0px #E74C3C,
                 0px 0px 0px #E74C3C,
                  3.5px 2.5px 0px #ffffff;   
    
    
    text-align: center;
    margin-bottom: 10px;
    border-color: #ffffff;

}

.idioma{
    font-size: 10px;
    color: #D7BDE2;
}

.detalle{
    color: #A93226;
    font-size: 10px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */



nav{
    text-align: right;
    padding: 40px 60px 0 0;
}

.portada {
    width: 100%;
    height: 250px;
    justify-content: center;
    

}
nav > a:hover{
    text-decoration: underline;
}

.negroazulado {
    background-color: #18171c;

}
.espacio {
    
    
}

.carbono {
    width:100%;
    height: 860px;
    background-color: #1c1c1c;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 30px;    
    
}

.cajon {
    width:95%;
    height: 690px ;
    margin:2.5%;
    
    justify-content: space-evenly;    
    background-color: #5f7f7a;
    border-radius: 15px;
    margin-bottom: 5px;
    
}

.if {
    overflow: hidden; 
    border-radius: 10px; 
    
    
    margin-top: 25px;
    width: 98%;
    height: 700px;
    margin: 1%;
    
    
}

.ifra {
    
    border-radius: 10px;
    justify-content: space-evenly;
    margin-top: 25px;    
    

  }
  
.embed {
    width: 100%;
    height: 150px;
    border-radius:10px;
    justify-content:space-evenly;
    margin-top:25px;
  }

.embed2 {
    width: 85.5%;
    height: 150px;
    border-radius:10px;
    justify-content:space-evenly;
    margin-top:25px;
}

.if2 {
    overflow: hidden; 
    padding-botton: ; 
    
    width: 98%;
    height: 200px;    
    margin-right: 1%;
    position:absolute;
}

.embed3 {
    width:100%;
    height:400px;
    border-radius:10px;
    justify-content: space-evenly;
    margin-top:15px;
    border-radius-low:10px;
}
.envivo {
    overflow: hidden; 
    margin-top: 25px;
    margin: 1%;
    
    
}
.envivoif {
    width:91%; 
    border-radius:10px;
    margin-top:16px;
    justify-content: space-evenly;
    height:660px;

}


  .container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 60.25%;
    justify-content: center; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 100%;
  }
    
  
  
  
  
  

li{
    text-align: right;
    padding: 40px 50px 0 0;
}

li > a{
    color: green;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

li > a:hover{
    text-decoration: wavy;
}
.nover{
    visibility: hidden;
}

/* About us */

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
    display: inline;
}

.imagen-about-us{
    width: 100%;
    background: #f2f2f2;
    height: 500px;
}

.sobre-nosotros .contenido-textos{
    width: 90%;
    text-align: center;
    margin: 30px;
    background: #f2f2f2;
}

.contenido-textos h3{
   margin-bottom: 15px;
   text-align: center;
}
#logo{
    margin: 20px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: whitesmoke;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0,0,0);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 200;
    text-align: center;
}

/* canalesss */

.canalesss{
    display: flex;
    text-align: center;
}

.enlacess li{
    display: flex;
    text-align: center;
    color: aquamarine;


}

/* Galeria */

.portafolio{
    padding: 50px 0 50px;
    margin: 180px 0 0 0;
    background: #f2f2f2;
}

.imagen-port{
    width: 100%;
    height: 600px; 
    display: flex;
    justify-content: space-evenly;
}

.conten-foo{
    color: rgb(15, 27, 15);
    
}

.conten-foo h4{
    font-weight: 1500;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

.conten-foo p{
    font-weight: 600;
    text-align: center;
}

.titulo-final{
    color: black;
    text-align: center;
    font-weight: 800;
    padding: 10px;
    display: center;
}



/* footer */

footer{
    background-color: #0084ff;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    padding-bottom: 50px;
}
  

@media screen and (max-width:1267px){
    header{
        background-position: center;
    }

    .portada{
        width: 100px;
        margin-left: 0px;
        height: 280px;


    }

    .negroazulado {
        background-color: #18171c;
       
    
    }

    .carbono {
        width:100%;
        height: 830px;
        margin-left: px;
        background-color: #1c1c1c;
        border-radius: 25px;
        margin-top: 100px;
        margin-bottom: 30px;    
        
    }

    .cajon {
        width:95%;
        height: 680px ;
        margin:2.5%;
        
        justify-content: space-evenly;    
        background-color: #5f7f7a;
        border-radius: 15px;
        margin-bottom: 5px;
        
    }

    .if {
        overflow: hidden; 
        border-radius: 10px; 
        
        
        margin-top: 40px;
        width: 98%;
        height: 400px;    
        margin: 1%;
    } 

    .envivoif {
        width:90%; 
        margin-left: 5px;
        border-radius:15px;
        margin-top:30px;
        justify-content: space-evenly;
        height:635px;
    
    }
}
    @media screen and (max-width: 1240px){
        header{
            background-position: center;
        }
    
        .portada{
            width: 100px;
            margin-left: 0px;
            height: 230px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:100%;
            height: 820px;
            margin-right: px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 100px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:95%;
            height: 650px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:90%; 
            margin-left: 5px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:620px;
        
        }
    }
    @media screen and (max-width: 1210px){
        header{
            background-position: center;
        }
    
        .portada{
            width: 100px;
            margin-left: 4px;
            height: 230px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:100%;
            height: 790px;
            margin-left: 5px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 100px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:95%;
            height: 640px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:90%; 
            margin-left: 5px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:610px;
        
        }
    }

    @media screen and (max-width: 1185px){
        header{
            background-position: center;
        }
    
        .portada{
            width: 100px;
            margin-left: 4px;
            height: 230px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:100%;
            height: 770px;
            margin-left: 5px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 100px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:95%;
            height: 620px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:90%; 
            margin-left: 5px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:590px;
        
        }
    }

    @media screen and (max-width: 1155px){
        header{
            background-position: center;
        }
    
        .portada{
            width: 100px;
            margin-left: 4px;
            height: 230px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:100%;
            height: 750px;
            margin-left: 5px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 100px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:95%;
            height: 600px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:90%; 
            margin-left: 5px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:570px;
        
        }
    }

    @media screen and (max-width: 1110px){
        header{
            background-position: center;
        }
    
        .portada{
            width: 100px;
            margin-left: 4px;
            height: 230px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:100%;
            height: 730px;
            margin-left: 5px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 100px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:95%;
            height: 580px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:90%; 
            margin-left: 5px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:550px;
        
        }
    }

    @media screen and (max-width: 1070px){
        header{
            background-position: center;
        }
    
        .portada{
            width: 100px;
            margin-left: 4px;
            height: 230px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:100%;
            height: 710px;
            margin-left: 5px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 70px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:95%;
            height: 560px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:90%; 
            margin-left: 5px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:530px;
        
        }
    }

    @media screen and (max-width: 1030px){
        header{
            background-position: center;
        }
    
        .portada{
            width: 100px;
            margin-left: 4px;
            height: 230px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:100%;
            height: 690px;
            margin-left: 5px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 80px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:95%;
            height: 540px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:90%; 
            margin-left: 0px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:510px;
        
        }
    }

    @media screen and (max-width: 985px){
        header{
            background-position: center;
        }
    
        .portada{
            width: 100px;
            margin-left: 4px;
            height: 230px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:100%;
            height: 670px;
            margin-left: 5px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 90px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:95%;
            height: 520px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:90%; 
            margin-left: 0px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:490px;
        
        }
    }

    @media screen and (max-width: 945px){
        header{
            background-position: center;
        }
    
        .portada{
            width: 100px;
            margin-left: 4px;
            height: 230px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:100%;
            height: 650px;
            margin-left: 5px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 80px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:95%;
            height: 500px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:90%; 
            margin-left: 0px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:472px;
        
        }
    }

    @media screen and (max-width: 907px){
        header{
            background-position: center;
        }
    
        .portada{
            width: 100px;
            margin-left: 4px;
            height: 200px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:100%;
            height: 630px;
            margin-left: 5px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 80px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:95%;
            height: 480px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:90%; 
            margin-left: 0px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:452px;
        
        }
    }

    @media screen and (max-width: 865px){
        header{
            background-position: center;
        }
    
        .portada{
            width: 100px;
            margin-left: px;
            height: 220px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:100%;
            height: 610px;
            margin-left: 5px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 120px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:95%;
            height: 460px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:90%; 
            margin-left: 0px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:430px;
        
        }
    }

    @media screen and (max-width: 832px){
        header{
            background-position: center;
        }

        .titulo{
            width: 100%;
            height: 60px;
        }
    
        .portada{
            width: 100px;
            margin-left: px;
            height: 200px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:100%;
            height: 590px;
            margin-left: 5px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 80px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:95%;
            height: 440px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:89%; 
            margin-left: 0px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:412px;
        
        }
    }

    @media screen and (max-width: 795px){
        header{
            background-position: center;
        }
    
        .portada{
            width: 100px;
            margin-left: px;
            height: 200px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:100%;
            height: 570px;
            margin-left: 5px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 140px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:95%;
            height: 420px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:89%; 
            margin-left: 0px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:390px;
        
        }
    }

    @media screen and (max-width: 755px){
        header{
            background-position: center;
        }
    
        .portada{
            width: 100px;
            margin-left: px;
            height: 200px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:100%;
            height: 550px;
            margin-left: 5px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 90px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:95%;
            height: 400px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:89%; 
            margin-left: 0px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:372px;
        
        }
    }

    @media screen and (max-width: 722px){
        header{
            background-position: center;
        }
    
        .portada{
            width: 100px;
            margin-left: px;
            height: 200px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:100%;
            height: 530px;
            margin-left: 5px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 90px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:95%;
            height: 380px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:89%; 
            margin-left: 0px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:350px;
        
        }
    }

    @media screen and (max-width: 682px){
        header{
            background-position: center;
        }
    
        .portada{
            width: 100px;
            margin-left: px;
            height: 200px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:100%;
            height: 510px;
            margin-left: 5px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 100px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:95%;
            height: 360px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:89%; 
            margin-left: 0px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:330px;
        
        }
    }

    @media screen and (max-width: 653px){
        header{
            background-position: center;
        }
    
        .portada{
            width: 100px;
            margin-left: px;
            height: 200px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:100%;
            height: 490px;
            margin-left: 5px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 100px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:95%;
            height: 340px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:88.5%; 
            margin-left: 0px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:310px;
        
        }
    }

    @media screen and (max-width: 620px){
        header{
            background-position: center;
        }
    
        .portada{
            width: 100px;
            margin-left: px;
            height: 200px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:100%;
            height: 470px;
            margin-left: 5px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 120px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:95%;
            height: 320px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:88%; 
            margin-left: 0px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:290px;
        
        }
    }

    @media screen and (max-width: 580px){
        header{
            background-position: center;
        }
    
        .portada{
            width: 100px;
            margin-left: px;
            height: 200px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:100%;
            height: 460px;
            margin-left: 5px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 130px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:95%;
            height: 310px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:87.5%; 
            margin-left: 0px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:280px;
        
        }
    }

    @media screen and (max-width: 550px){
        header{
            background-position: center;
        }
    
        .portada{
            width: 100px;
            margin-left: px;
            height: 200px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:100%;
            height: 410px;
            margin-left: 5px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 140px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:95%;
            height: 300px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:87%; 
            margin-left: 0px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:270px;
        
        }
    }
    
    @media screen and (max-width: 515px){
        header{
            background-position: center;
        }
    
        .portada{
            width: 100px;
            margin-left: px;
            height: 250px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:100%;
            height: 400px;
            margin-left: 5px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 150px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:95%;
            height: 290px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:87%; 
            margin-left: 0px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:260px;
        
        }
    }
  
    @media screen and (max-width: 485px){
        header{
            background-position: center;
        }
    
        .portada{
            width: 100px;
            margin-left: px;
            height: 200px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:100%;
            height: 490px;
            margin-left: 5px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 150px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:95%;
            height: 280px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:86.5%; 
            margin-left: 0px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:250px;
        
        }
    }
  
    @media screen and (max-width: 455px){
        header{
            background-position: center;
        }
        
        .titulo{
            width: 100%;
            height: 60px;
        }
    
        .portada{
            width: 100px;
            margin-left: px;
            height: 180px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:97%;
            height: 480px;
            margin-left: 5px;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 100px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:92%;
            height: 270px ;
            margin:2.5%;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:86%; 
            margin-left: 0px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:240px;
        
        }
    }

@media screen and (max-width: 425px){
        header{
            background-position: center;
        }
        
        .titulo{
            width: 100%;
            height: 60px;
        }
    
        .portada{
            width: 100px;
            margin-left: px;
            height: 150px;
    
    
        }
    
        .negroazulado {
            background-color: #18171c;
           
        
        }
    
        .carbono {
            width:95%;
            height: 400px;
            margin-left: opx;
            background-color: #1c1c1c;
            border-radius: 25px;
            margin-top: 30px;
            margin-bottom: 30px;    
            
        }
    
        .cajon {
            width:90%;
            height: 220px ;
            margin-left: 4px;
            
            justify-content: space-evenly;    
            background-color: #5f7f7a;
            border-radius: 15px;
            margin-bottom: 5px;
            
        }
    
        .if {
            overflow: hidden; 
            border-radius: 10px; 
            
            
            margin-top: 25px;
            width: 98%;
            height: 500px;    
            margin: 1%;
        } 
    
        .envivoif {
            width:86%; 
            margin-left: 0px;
            border-radius:10px;
            margin-top:16px;
            justify-content: space-evenly;
            height:185px;
        
        }
}
  

  
   

  
